
label{
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-touch-callout:none;
    }

a{
    text-decoration:none;
    }

a,button{
    outline:none;
    }

button{
    border:none;
    }

@font-face {
    font-family: 'Helvetica Neue';
    src: url("../font/helveticalight.otf");
    font-weight: 400;
    font-style: normal;
    }

@font-face{
    font-family: 'Helvetica Neue';
    src: url("../font/helveticabold.otf");
    font-weight: 700;
    font-style: normal;
    }

body{
    font-family: Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    background-color: #000;
    background: url(../img/bg_head.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    width: 100%;
    }

a{
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    }

a:hover{
    transition: 0.3s all;
    }

.b1{
    padding: 0 15px;
    line-height: 35px;
    background: #93cede;
    background: linear-gradient(to bottom,#4eacda 0,#2e7ac4 100%);
    border-radius: 3px;
    }

.b1:focus,
.b1:hover {
   background: linear-gradient(to bottom,#4693b8 0,#0b6ac7 100%);
          transition: 0.3s all;
    }

.b2{
    padding: 0 15px;
    line-height: 35px;
    background: #93cede;
    background: linear-gradient(to bottom,#4eacda 0,#2e7ac4 100%);
    border-radius: 3px;
    width: 150px;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    }

.b2:hover,
.b2:focus {
    background: linear-gradient(to bottom,#4693b8 0,#0b6ac7 100%);
    -webkit-box-shadow: 1px 1px 10px 2px rgba(47,123,197,1);
    -moz-box-shadow: 1px 1px 10px 2px rgba(47,123,197,1);
      box-shadow: 1px 1px 10px 2px rgba(47,123,197,1);
          transition: 0.3s all;
    }

input{
    border:none;
    outline:none;
    }

input:-moz-placeholder{color:#fff;}

input:focus{
    background-image:linear-gradient(to top,#1b5288 0,#1b5288 100%);
    -webkit-box-shadow: 1px 1px 10px 2px rgba(47,123,197,1);
    -moz-box-shadow: 1px 1px 10px 2px rgba(47,123,197,1);
     box-shadow: 1px 1px 10px 2px rgba(47,123,197,1);
}

.h1,.h2,.h3,.h4,.h5,.h6,.title,h1,h2,h3,h4,h5,h6{
    font-family:Helvetica Neue,Arial,sans-serif;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}

.h2, h2{
    font-size:24px;
    font-weight:400;
    color:#fff;
}

.clearfix{
    *zoom:1;
}

.clearfix:after,
.clearfix:before{
    content:'';
    display:table;
}

.clearfix:after{
    clear:both;
    }

.cbutton:after{
    width:8px;
    height:10px;
    background:url(../img/icon_sprite.png) 0 -6px no-repeat;
    }

.cbutton:after,
.cbutton:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    }

.cbutton:before{
    width:9px;
    height:20px;
    background:url(../img/icon_sprite.png) 0 -20px no-repeat;
    }

.offer:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    width:25px;
    height:27px;
    background:url(../img/icon_sprite.png) 0 -44px no-repeat;
    }

.login,.menu,.menu_itm,.offer{
    float:left;
    }

.container_header{
    height: 36px;
    width: 100%;
    position: relative;
    line-height: 36px;
    font-size: 14px;
    margin: 0 auto;
    }

.wrapper{
    float:right;
    padding:0 20px;
}

.lnk_border{
    border-bottom:1px solid #fff;
}

.weight{
    font-weight:700;
}

.header {
    background:#085393 url(../img/bg_pattern.jpg) repeat;
    height: 36px;
}

.menu_lst {
    margin:0;
    list-style:none;
}

.menu_lnk {
    display: inline-block;
    padding: 0 15px;
    line-height: 36px;
    color: #60b5ed;
}

.menu_lnk:hover {
    color: #fff;
    background-color: #4eabda;
}

.offer {
    position:relative;
    top: 0;
    left: 0;
    padding: 3px 20px 0 42px;
    line-height: 35px;
}

.offer a:hover,
.offer a:focus {
    color: #4eabda;
    transition: 0.3s all;
}

.border_in {
    border-left: 1px solid #56a2dc;
    line-height: 30px;
    margin-top: 1px;
}

.offer:before {
    top:5px;
    left:10px;
}

.login {
    color:#fff;
}

.content {
    left:0;
    padding:200px 0;
}

.content,
.content_reg {
    position:relative;
    top:0;
}
.content_block {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    padding:0 0 200px 0;
}


.content_reg {
    width:600px;
    text-align:center;
    background-color:rgba(0,0,0,.6);
}

.ctitle {
    padding:20px 0;
    margin-bottom:2px;
}

.cform {
    width:600px;
    padding:40px 0;
    text-align:center;
    background-color:rgba(0,0,0,.6);
}

.btn_facebook {
    height: 36px;
    width: 276px;
 }

 .btn_facebook:hover {
    -webkit-box-shadow: 1px 1px 10px 2px rgba(47,123,197,1);
    -moz-box-shadow: 1px 1px 10px 2px rgba(47,123,197,1);
      box-shadow: 1px 1px 10px 2px rgba(47,123,197,1);
          transition: 0.3s all;
 }

.cbutton{
    position:relative;
    top:0;
    left:0;
    display:block;
    width:275px;
    margin-bottom:35px;
    padding-left:50px;
    padding-right:40px;
    background:#364e8a;
    color:#fff;
    border-radius:6px;
    }

.cbutton:before{
    top:10px;
    left:20px;
    }

.cbutton:after{
    position:relative;
    top:0;
    left:10px;}

.csubtitle{
    width:275px;
    height:50px;
    margin:auto;
    color:#999;
    padding-top: 20px;
 }

.csubtitle p:before{
    content:'';
    position:relative;
    top:-3px;
    left:-6px;
    display:inline-block;
    width:120px;
    height:1px;
    background-color:#666;
    border-bottom:1px solid #000;
    }

.csubtitle p:after{
    content:'';
    position:relative;
    top:-3px;
    left:6px;
    display:inline-block;
    width:120px;
    height:1px;
    background-color:#666;
    border-bottom:1px solid #000;
    }

.csubtitle hr{
    float:left;
    display:block;
    width:120px;
    color:#666;
    border-top:1px solid #666;
    border-bottom:1px solid #000;
    }

.csubtitle p{
    float:left;
    display:block;
    margin-top: -1px;
    padding:0 5px;
    }

.c2{
    margin-bottom:20px;
    padding:0 120px;
    font-size:11px;
    color:#ccc;
    }

input{
    display:block;
    width:275px;
    height:35px;
    margin:auto;
    margin-bottom:15px;
    padding:0 20px;
    color:#fff;
    border-bottom: 1px solid #656565;
    background-image:linear-gradient(to top,#111 0,#0e0d0d 100%);
    box-shadow:0 1px 0 #4b4b4b,inset 0 2px 5px rgba(29,26,22,.2),inset 0 0 2px rgba(0,0,0,.1);
    }

input:focus{
   border-bottom: 1px solid #689bcc;
       transition: 0.3s all;
    }

label>input{
    position:relative;
    top:8px;
    left:-10px;
    width:auto;
    color:red;
    }

label,label>input{
    display:inline-block;
    }

label{
    color:#ccc;
    }

button{
    display:block;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    color:#fff;
    }

.checkbox{
    display:inline-block;
}
