* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
 font-family: "OS_regular", "Arial", sans-serif;
 margin: 0 155px 0 155px;
 width: 1060px;
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
}

/* HEADER */
header {
  margin: 0 47px 0 47px;
}

.logo {
 padding: 60px 0 40px 0;
}

.menu {
  font-size: 14.67px;
  min-height: 40px;
  min-width: 950px;
  background: #444343; /* Для старых браузров */
  background: linear-gradient(to top, #444343, #5e5e5e);
}

.white {
  color: #FFF;
}

ul li  {
  float: left;
  padding: 10px 30px 10px 20px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #656363;
}

a:hover,
a:focus {
 color: #fff;
}


ul li:hover,
ul li:focus {
  background: #2e2e2e; /* Для старых браузров */
  background: linear-gradient(to top, #2e2e2e, #4a4a4a);
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}

/* CONTEINER CONTENT */

.conteiner {
  margin: 40px 47px 0 47px;
}
.left {
  width: 240px;
  border: 1px solid #c8c8c8;
  float: left;
}

.left_menu a {
  text-decoration: none;
  color: #656363;
}

.left_menu a:hover,
.left_menu a:focus {
 color: #2e2e2e;
}

.left_menu {
  float: none;
  font-size: 13.33px;
  border-top: 1px solid #c8c8c8;
}

.left_menu:hover,
.left_menu:focus {
  font-size: 13.33px;
  border: 0;
  float: none;
  background: #f9f9f9;
  padding-left:30px;
}

.bd-none {
  border: none;
}

.silver2 {
  color: #656363;
}
section {
  margin-left: 285px;
  margin-bottom: 40px;
}

.text {
  padding: 0 35px 50px 10px;
}
.top {
  padding: 50px 0 0 90px;
}
p {
  text-align: left;
  font-size: 13.33px;
  color: #2c2c2c;
}

.img_border {
  border: 1px solid #c8c8c8;
  height: 400px;
}

/* FOOTER */

footer {
  margin: 0 47px 0 47px;
  min-height: 40px;
  background: #e1e1e1;
  position: relative;
}


.links {
  font-size: 13.33px;
}

.footer_links a {
  text-decoration: none;
  color: #656363;
}

.footer_links a:hover,
.footer_links a:focus {
  text-decoration: underline;
}

.footer_links ul li {
  background: none;
  border: none;
}

.footer_links:hover,
.footer_links:focus {
  background: none;
  border: none;
}

.copyright {
  color: #2c2c2c;
  float: right;
  font-size: 13.33px;
  padding: 10px 20px 10px 20px;
}

.silver {
 color: #2c2c2c;
}
