* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  font-family: "OS_regular", "Arial", sans-serif;
  margin: 0 auto;
  width: 965px;
  padding: 40px 47px 0 47px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
}

/* HEADER */
header {
  padding: 20px 0 0 0;
}

.logo {
  padding-bottom: 40px;
}

.menu {
  font-size: 14.67px;
  height: 40px;
  background: #444343; /* Для старых браузров */
  background: linear-gradient(to top, #444343, #5e5e5e);
}

.white {
  color: #FFF;
}

ul li  {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  margin-right: 45px;
  list-style-type: none;
  line-height: 18px;
  font-size: 13.33px;
  vertical-align:middle;
}

a {
  text-decoration: none;
  color: #656363;
}

a:hover,
a:focus {
 color: #fff;
}


ul li:hover,
ul li:focus {
  background: #2e2e2e; /* Для старых браузров */
  background: linear-gradient(to top, #2e2e2e, #4a4a4a);
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  border-top: none;
}

/* CONTEINER CONTENT */

.conteiner {
  padding-top:40px;
}
.left {
  float: left;
  width: 242px;
}

content  {
  float: left;
  width: 680px;
  padding-left: 43px;
}
.left_menu a {
  text-decoration: none;
  color: #656363;
  height: 100%;
  display: block;
}

.left_menu a:hover,
.left_menu a:focus {
 color: #2e2e2e;
 height: 100%;
 display: block;
}

.left_menu {
  width: 200px;
  font-size: 13.33px;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}

.left_menu:hover,
.left_menu:focus {
  font-size: 13.33px;
  width: 190px;
  background: #f9f9f9;
  padding-left:30px;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}

.bd-one {
  border-top: 1px solid #c8c8c8;
}

.bd-one:hover,
.bd-one:focus {
  border-top: 1px solid #c8c8c8;
}

.silver2 {
  color: #656363;
}

.text {
  padding: 40px 35px 50px 10px;
}
.top {
  padding: 50px 0 0 90px;
}
p {
  text-align: left;
  font-size: 13.33px;
  color: #2c2c2c;
}

.img_border {
  border: 1px solid #c8c8c8;
  height: 400px;
}

/* FOOTER */
.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

footer {
  height: 40px;
  background: #e1e1e1;
  font-size: 13.33px;
  vertical-align: top;
}

.footer_links {
  float:left;
}

.footer_links_inline {
display: inline-block;
}

.footer_links_inline a {
  text-decoration: none;
  color: #656363;
}

.footer_links_inline a:hover,
.footer_links_inline a:focus {
  text-decoration: underline;
}

.footer_links_inline ul li {
  background: none;
  border: none;
}

.footer_links_inline:hover,
.footer_links_inline:focus {
  background: none;
  border: none;
}

.copyright {
  float:right;
  color: #2c2c2c;
  font-size: 13.33px;
  padding: 10px 20px 10px 20px;
}

.silver {
 color: #2c2c2c;
}

